<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinBGMuter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinBGMuter.Properties.Settings>
            <setting name="NeverMuteProcs" serializeAs="String">
                <value>chrome,mpc-hc64,vlc,firefox,WWAHost,msedge,mpv,PotPlayerMini64,AMPLibraryAgent</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAutostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsMuteConditionBackground" serializeAs="String">
                <value>True</value>
            </setting>
        </WinBGMuter.Properties.Settings>
    </userSettings>
</configuration>